<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if title %}
    <title>{{ title }} - FlaskHW</title>
    {% else %}
    <title>FlaskHW</title>
    {% endif %}
</head>

<body>
    <header>
        <h1>fakebook</h1>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/users">Users</a>
    </header>
    {% block content %} {% endblock %}
</body>

</html>