{% extends "base.html.j2" %}

{% block content %}
<small>
    <p>forgive the lack of styling i am very tired</p>
    <p>clicking on most things should work</p>
    <p>wasn't able to associate comments with their owner though</p>
</small>
{% endblock %}