{% extends "base.html.j2" %}


{% block content %}
<div>
    <h2>{{ user.first_name + ' ' + user.last_name }}'s Page<span> -- {{ user.username }} -- </span></h2>
</div>
<h3>Posts</h3>
<form action="{{ url_for('create_post') }}" method="POST">
    <div class="mb-3">
        <label for="inputTitle" class="form-label">Title</label>
        <input type="text" class="form-control" id="inputTitle" name="inputTitle">
    </div>
    <div class="mb-3">
        <label for="inputBody" class="form-label">Body</label>
        <input type="text" class="form-control" id="inputBody" name="inputBody">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% for post in posts %}
<ul>
    <div>
        <strong>
            <a href="{{ url_for('display_post', post_id=post.id)}}">{{ post.title }}</a>
        </strong>
        <p>{{ post.body }}</p>
    </div>
</ul>
{% endfor %}
{% endblock %}