{% extends 'base.html.j2' %}


{% block content %}
<h1>Reset Password</h1>
<form action="{{ url_for('auth.reset_password') }}" method="POST">
    <div class="mb-3">
        <label for="inputOldPassword" class="form-label">Old Password</label>
        <input type="password" class="form-control" id="inputOldPassword" name="inputOldPassword">
    </div>
    <div class="mb-3">
        <label for="inputNewPassword" class="form-label">New Password</label>
        <input type="password" class="form-control" id="inputNewPassword" name="inputNewPassword">
    </div>
    <div class="mb-3">
        <label for="inputConfirmNewPassword" class="form-label">Confirm New Password</label>
        <input type="password" class="form-control" id="inputConfirmNewPassword" name="inputConfirmNewPassword">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %}