{% extends "base.html.j2" %}

{% block content %}

<h2>Users</h2>
{% for user in users %}
<ul>
    <p><a href="{{ url_for('blog.display_profile', username=user.username)}}">{{ user.username }}</a></p>
</ul>
{% endfor %}

{% endblock %}